body {
    justify-content:center;
    text-align:center;
    background-image:url('../images/unSplash3OdajQGd9sk.jpg');
    background-repeat:no-repeat;
    background-size:100% 1024px;
    color:white;
    box-shadow: inset 0px 0px 20px white;
    padding: 20px;
}

.topPane{
    border:1;
    border-style:solid;
    border-radius:25px;
    box-shadow: 2px 2px 4px black, 0 0 25px red, 0 0 5px darkred;
    width:95%;
    height:100px;
    text-align:center;
    display:inline-block;
}

.topPane:hover{
    border-style:dotted;
}

.middleTopPane{
    width:80%;
    display:inline-block;
    margin:20px;
}

.middleBottomPane{
    width:95%;
    display:inline-block;
    justify-content:center;
    margin:20px;
    border-style:solid;
    border-radius:80px;
}
#pageTitle{
  color: white;
  text-shadow: 2px 2px 6px black, 0 0 50px red, 0 0 5px darkred;
  font-size:xxx-large;
}

#form{
    margin:5px;
    padding:5px;
    border:1;
    border-style:solid;
    border-width:1px;
    border-radius:10px;
    width:200;
    display:inline-block;
    box-shadow: 2px 2px 4px black, 0 0 25px blue, 0 0 5px darkblue;
}

#form:hover{
    border-style:dashed;
}

.formQuery{
    padding:2px;
}

#createdListings{
    width:100%;
    display:flex;
    justify-content:space-around;
    margin:10px;
    flex-wrap:wrap;
    align-content:flex-start;
}

.createdItem{
    margin:5px;
    display:inline-block;
    border-style:solid;
    border-radius:10px;
    justify-content:center;
    background-color:blue;
    color:black;
}

.songBox{
    height:240;
    width:320;
}
