body {
    justify-content:center;
    text-align:center;
    background-image:url('../images/unSplash3OdajQGd9sk.jpg');
    background-repeat:no-repeat;
    background-size:100% 1024px;
    color:white;
    padding: 20px;
    transform: rotateX(0deg);
    animation-name:intoView;
    animation-duration:1s;
}
@keyframes intoView{
    from {transform:rotateX(90deg);}
    to {transform:rotateX(0deg);}
}

.topPane{
    border-style:solid;
    border-radius:25px;
    box-shadow: inset 0px 0px 60px red;
    width:95%;
    height:140px;
    display:inline-block;
    justify-content:center;
    font-family:impact;
    font-style:italic;
    font-size:26px;
    word-spacing:100px;
    animation-name: example;
    animation-duration:20s;
    animation-iteration-count: infinite;
}
@keyframes example {
    0% {box-shadow: inset 0px 0px 60px red;}
    50% {box-shadow: inset 0px 0px 60px blue;}
    100% {box-shadow: inset 0px 0px 60px red;}
  }
.topPane:hover{
    border-style:dotted;
}

.middleTopPane{
    width:80%;
    height:250px;
    display:inline-block;
    text-shadow: 1px 1px 3px red;
    font-family:georgia;
}

.middleBottomPane{
    width:95%;
    display:inline-block;
    justify-content:center;
    margin:20px;
    padding:20px;
    border-style:solid;
    border-radius:80px;
    box-shadow: inset 0px 0px 30px white;
}
#pageTitle{
  color: white;
  text-shadow: 2px 1px 2px blue, 8px 4px 3px darkred, 20px 10px 10px red;
  transition:text-transform 20s;
  }
#pageTitle:hover{
    text-transform: uppercase;
}
#form{
    width:220px;
    height:200px;
    padding:5px;
    border-style:solid;
    border-radius:20px;
    display:inline-block;
    box-shadow: 2px 2px 4px black, 0px 0px 25px blue, 0px 0px 5px darkblue, inset 0px 0px 20px black;
}

#form:hover{
    border-style:dashed;
}

.formQuery{
    padding:2px;
}

#createdListings{
    width:100%;
    display:flex;
    justify-content:space-around;
    margin:10px;
    flex-wrap:wrap;
    align-content:flex-start;
}

.createdItem{
    margin:5px;
    display:inline-block;
    border-radius:10px;
    justify-content:center;
    font-family:impact;
    box-shadow: 20px 10px 3px black, inset 0px 0px 40px rgb(208, 255, 0);
    
    background-color:white;
    color:black;
    transform: rotateY(0deg);
    animation-name: itemSpin;
    animation-duration:8s;
}

@keyframes itemSpin{
    from {transform: rotateY(90deg);}
    to {transform: rotateY(-360deg);}
}
.itemTitle{
    font-family:georgia;
    font-size:20px;
    text-shadow: 0px 0px 3px purple;
}
.songBox{
    height:240;
    width:320;
}
#listingsTitle{
    text-shadow: 1px 1px 1px darkblue, 3px 3px 10px red;
    font-family:'comic sans ms';
}