body {
    justify-content:center;
    text-align:center;
    background-image:url('../images/unSplash3OdajQGd9sk.jpg');
    background-repeat:no-repeat;
    background-size:100% 1024px;
    color:white;
    padding: 20px;
}

.topPane{
    border-style:solid;
    border-radius:25px;
    box-shadow: inset 0px 0px 60px red;
    width:95%;
    height:140px;
    display:inline-block;
    justify-content:center;
    font-family:impact;
    font-style:italic;
    font-size:26px;
}

.topPane:hover{
    border-style:dotted;
}

.middleTopPane{
    width:80%;
    height:190px;
    display:inline-block;
    margin:20px;
    text-shadow: 0 0 10px blue;
    font-family:georgia;
}

.middleBottomPane{
    width:95%;
    display:inline-block;
    justify-content:center;
    margin:20px;
    border-style:solid;
    border-radius:80px;
    box-shadow: inset 0px 0px 30px white;
}
#pageTitle{
  color: white;
  text-shadow: 2px 1px 2px blue, 8px 4px 3px darkred, 20px 10px 10px red;
  }

#form{
    margin:5px;
    padding:5px;
    border:1;
    border-style:solid;
    border-width:1px;
    border-radius:10px;
    width:200;
    display:inline-block;
    box-shadow: 2px 2px 4px black, 0px 0px 25px blue, 0px 0px 5px darkblue;
}

#form:hover{
    border-style:dashed;
}

.formQuery{
    padding:2px;
}

#createdListings{
    width:100%;
    display:flex;
    justify-content:space-around;
    margin:10px;
    flex-wrap:wrap;
    align-content:flex-start;
}

.createdItem{
    margin:5px;
    display:inline-block;
    border-style:dotted;
    border-radius:10px;
    justify-content:center;
    font-family:impact;
    box-shadow: inset 0px 0px 40px blue;
    background-color:white;
    color:black;
}
.createdItem:hover{
    border-style:solid;
}
.itemTitle{
    font-family:georgia;
    font-size:20px;
    text-shadow: 0px 0px 3px purple;
}
.songBox{
    height:240;
    width:320;
}
#listingsTitle{
    text-shadow: 1px 1px 1px darkblue, 3px 3px 10px red;
    font-family:'comic sans ms';
}